*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
.body{
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #90EE90; 
    
}
.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}
.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
    padding: 1rem;
}
.form-image img {
    width: 25rem;
}
.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    padding: 10rem;
}
.form-header {
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
}
.login-button {
    display: flex;
    align-items: center;
}
.login-button button {
    border: none;
    background-color: #036141;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login-button button:hover {
    background-color: palegoldenrod;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #ffff;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #036141;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.imput-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.imput-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.imput-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.imput-box input:hover {
    background-color: #eeeeee75;
}
.imput-box input:focus-visible {
    outline: 1px solid #036141;
}
.imput-box label{
    font-size: 0.88rem;
    font-weight: 600;
    color: #000000c0;
}
.titulo-genero h4 {
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000c0;
}
.imput-box input::placeholder{
    font-size: 0.70rem;
    color: #000000be;
}
.generos-imputs {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.imput-genero{
    display: flex;
    align-items: center;
}
.imput-genero input {
    margin-right: 0.35rem;
}
.imput-genero label {
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000c0;
}
