.header {
  background-color: #f0fdf4;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  background: transparent;
  transition: none;
}

.icon-img {
  background: transparent;
  transition: none;
}

.logo-text {
  font-weight: 700;
  font-size: 1.5rem;
  color: #14532d;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
}

.icon-leaf {
  color: #15803d;
}

.menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
  font-size: 1.3rem;
}

.menu-login {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #14532d;
}

.header-bottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #14532d;
}

.back-link {
  text-decoration: none;
  color: inherit;
}

.icon-user,
.icon-back {
  font-size: 0.9rem;
}

body {
  margin-top: 5rem;
}
